$color-primary: rgba(0, 179, 53, 1);
$colorSub: #122b45;
$colorTextWhite: #eaeaea;
$colorDanger: #ff3300;
$color-green: #00b335;
$color-orange: #e7a700;
$color-yellow: #e7eb00;
$color-text-black: black;
$colorTextSub: rgba(0, 0, 0, 0.4);
$color-background-white: white;
$colorBgWhite2: #f1f1f4;
$colorGrayLight: #fafafa;
$colorGrayLight2: #eeeeee;
$colorGrayLight3: #f0f0f0;
$colorDark: #003828;
$colorBorder: rgba(0, 0, 0, 0.05);
$color-input: #f7f8f9;
$colorWhite: #ffffff;
$colorCancel: #ff3300;
$colorGreenText: #00b335;
$colorGreenSvg: #18bb46;
$colorGray: #999999;
$colorGray2: #888888;
$colorPink: pink;
$colorBlue: blue;
