.button-radio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 0 !important;
}
.form-item-text {
  // font-size: 20px;
}
.ant-form-item {
  // max-height: 60px;
  .ant-row {
    // max-height: 60px !important;
  }
}
.ant-form-item-label {
  max-height: 60px !important;
  label {
    height: 100% !important;
  }
}
