@import "assests/styles/_color.scss";
@import "assests/styles/_variables.scss";
.upload-file {
  .file-info {
    &:hover {
      cursor: pointer;
    }
    .title {
      font-weight: $weightLarge;
      color: $colorDanger;
    }
    .bold {
      font-weight: $weightMedium;
    }
    .center {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .ant-divider {
    height: 4em;
  }
}
