@import "assests/styles/_variables.scss";
.so-sach-ca-nhan {
  width: 100%;
  .ck {
    height: 100%;
  }
  .ck-editor {
    width: 100% !important;
    .ck-content {
      height: 70vh;
      font-size: $sizeMedium;
    }
  }
}
